<%= form_for(@weight) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

    <% if user_signed_in? && current_user.roles?(:admin) %>
        <div class="field">
          <%= f.label :patient_id %>
          <br/>
          <%= f.collection_select(:patient_id, Patient.all, :id, :get_full_name, {:prompt => :true}) %>
        </div>
    <% else %>
        <%= f.hidden_field :patient_id %>
    <% end %>

    <div class="field">
      <%= f.label :value %>
      <br/>
      <%= f.text_field :value %>
    </div>
    <div class="field">
      <%= f.label :date %>
      <br/>
      <%= f.text_field :date %>
    </div>
    <div class="actions">
      <%= f.submit t(:save) %>
    </div>
<% end %>
