<h1><%= t(:site_configs) %></h1>

<table>
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:geolocation_login) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @site_configurations.each do |site_configuration| %>
      <tr>
        <td><%= site_configuration.geolocation_login %></td>
        <td><%= site_configuration.name %></td>
        <% if can? :read, SiteConfiguration %>
            <td><%= link_to t(:show), site_configuration %></td>
        <% end %>
        <% if can? :update, SiteConfiguration %>
            <td><%= link_to t(:edit), edit_site_configuration_path(site_configuration) %></td>
        <% end %>
        <% if can? :destroy, SiteConfiguration %>
            <td><%= link_to t(:destroy), site_configuration, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br/>

<% if can? :create, SiteConfiguration %>
    <%= link_to t(:new_site_config), new_site_configuration_path %>
<% end %>
<%= link_to t(:back), :back %>