<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title><%= t :demonstrator_title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container" class="container">
  <div id="user_nav">
    <% if user_signed_in? %>
        <%= t(:sign_in_display_partial) %>
        <%= link_to current_user.username, current_user %> -
        <%= link_to t(:sign_out), destroy_user_session_path, :method => :delete %>
    <% else %> <%= link_to t(:sign_in), new_user_session_path %>
    <% end %>
  </div>

  <%= render 'layouts/header' %>

  <div id="content" class="span-24">
    <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>

  <%# <%= render 'layouts/sidebar' %>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
